@model List<Library_Final_Project.DTOs.Book.CartBookViewModel>

@{ 
    Layout = null;
}
<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

    * {
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0;
        background-color: hsl(53, 100%, 50%);
        font-family: 'Roboto', sans-serif;
    }

    .shopping-cart {
        width: 750px;
        height: 423px;
        margin: 80px auto;
        background: #FFFFFF;
        box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
    }

    .title {
        height: 60px;
        border-bottom: 1px solid #E1E8EE;
        padding: 20px 30px;
        color: #5E6977;
        font-size: 18px;
        font-weight: 400;
    }

    .item {
        padding: 20px 30px;
        height: 120px;
        display: flex;
    }

        .item:nth-child(3) {
            border-top: 1px solid #E1E8EE;
            border-bottom: 1px solid #E1E8EE;
        }
    /* Buttons -  Delete*/
    .buttons {
        position: relative;
        padding-top: 30px;
        margin-right: 60px;
    }

    .delete-btn {
        display: inline-block;
        cursor: pointer;
        width: 18px;
        height: 17px;
        background: url("delete-icn.svg") no-repeat center;
        margin-right: 20px;
    }

    .like-btn {
        position: absolute;
        top: 9px;
        left: 15px;
        display: inline-block;
        background: url('twitter-heart.png');
        width: 60px;
        height: 60px;
        background-size: 2900%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .is-active {
        animation-name: animate;
        animation-duration: .8s;
        animation-iteration-count: 1;
        animation-timing-function: steps(28);
        animation-fill-mode: forwards;
    }

    @@keyframes animate {
        0% {
            background-position: left;
        }

        50% {
            background-position: right;
        }

        100% {
            background-position: right;
        }
    }

    .image {
        margin-right: 50px;
    }

    .description {
        padding-top: 10px;
        margin-right: 60px;
        width: 115px;
    }

        .description span {
            display: block;
            font-size: 14px;
            color: #43484D;
            font-weight: 400;
        }

            .description span:first-child {
                margin-bottom: 5px;
            }

            .description span:last-child {
                font-weight: 300;
                margin-top: 8px;
                color: #86939E;
            }

    .quantity {
        padding-top: 20px;
        margin-right: 60px;
    }

        .quantity input {
            -webkit-appearance: none;
            border: none;
            text-align: center;
            width: 32px;
            font-size: 16px;
            color: #43484D;
            font-weight: 300;
        }

    button[class*=btn] {
        width: 30px;
        height: 30px;
        background-color: #E1E8EE;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }

    .minus-btn img {
        margin-bottom: 3px;
    }

    .plus-btn img {
        margin-top: 2px;
    }

    button:focus,
    input:focus {
        outline: 0;
    }

    .total-price {
        width: 83px;
        padding-top: 27px;
        text-align: center;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
    }

    @@media (max-width: 800px) {
        .shopping-cart {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .item {
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image img {
            width: 50%;
        }

        .image,
        .quantity,
        .description {
            width: 100%;
            text-align: center;
            margin: 6px 0;
        }

        .buttons {
            margin-right: 20px;
        }
    }
</style>
<div class="shopping-cart">
    <div class="title">
        <div style="display:inline-block;">
            <svg xmlns="http://www.w3.org/2000/svg" style="padding-top: 5px;" width="20" height="20" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z" />
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z" />
            </svg>
        </div>
        | Корзина покупок
    </div>
    @foreach (var item in Model)
    {

        <div class="item" id="@item.BookId-req">
            <div class="buttons">
                <span class="delete-btn"><a href="~/Book/DeleteAllFromCart?bookId=@item.BookId"><img src="~/img/delete-icn.svg"></a></span>
            </div>
            <div class="image">
                <img src="@item.ImagePath" width="80" alt="image" />
            </div>
            <div class="description">
                <span>@item.Name</span>
            </div>
            <div class="quantity">
                <a class="plus-btn" href="~/Book/AddToCart?bookId=@item.BookId" >
                    <img src="~/img/plus.svg" alt="plus" />
                </a>
                <input type="text" id="tot-count" name="name" disabled value="@item.Count">
                <a class="minus-btn" href="~/Book/DeleteFromCart?bookId=@item.BookId" >
                    <img src="~/img/minus.svg" alt="minus" />
                </a>
            </div>
            <div class="total-price" id="total-price"><b>@(item.Count * item.Price) TJS</b></div>
        </div>
    }
    @{
        double sum = Model.Select(x => new { x.Count, x.Price }).Sum(x => x.Count * x.Price);
    }
    <input type="text" id="total" value="@sum">
    <a href="~/Order/Create">Approve</a>
</div>

<script type="text/javascript">
    //let total = document.getElementById("total");
    //let totPrice = document.getElementById("total-price");
    //let bookPrice = document.getElementById("bookPrice");
    //function deleteAllFromCart(el) {
    //    var bookId = el.id.split('-')[0];
    //    var item = document.getElementById(bookId + "-req");
    //    var input = document.getElementById("tot-count");
    //    var value = parseInt(input.value);
    //    let total_price = parseFloat(document.getElementById("total-price").innerText.split(' ')[0]);
    //    $.ajax({
    //        cache: false,
    //        method: "POST",
    //        data: { "bookId": bookId },
    //        url: "/Book/DeleteAllFromCart",
    //        success: function (data) {
    //            var data = JSON.parse(data);
    //            if (data.Succeeded) {
    //                total.value = parseFloat(total.value) - total_price;
    //                item.remove();
    //            }
    //            else {
    //                Snackbar.show({
    //                    text: data.Message,
    //                    pos: 'bottom-right',
    //                    actionTextColor: '#fff',
    //                    backgroundColor: '#e7515a'
    //                });
    //            }
    //        }
    //    });
    //}


    //function deleteFromCart(el) {
    //    var bookId = el.id.split('-')[0];
    //    var item = document.getElementById(bookId + "-req");
    //    var input = document.getElementById("tot-count");
    //    var value = parseInt(input.value);
    //    let total_price = parseFloat(document.getElementById("total-price").innerText.split(' ')[0]);
    //    let bookP = parseFloat(bookPrice.value);
    //    $.ajax({
    //        cache: false,
    //        method: "POST",
    //        data: { "bookId": bookId },
    //        url: "/Book/DeleteFromCart",
    //        success: function (data) {
    //            var data = JSON.parse(data);
    //            if (data.Succeeded) {
    //                if (value > 1) {
    //                    value = value - 1;
    //                    input.value = value;
    //                    totPrice.innerText = total_price - bookP + " TJS";
    //                } else {
    //                    item.remove();
    //                }
    //            }
    //            else {
    //                Snackbar.show({
    //                    text: data.Message,
    //                    pos: 'bottom-right',
    //                    actionTextColor: '#fff',
    //                    backgroundColor: '#e7515a'
    //                });
    //            }
    //        }
    //    });
    //};
    //function addToCart(el) {
    //    var bookId = el.id.split('-')[0];
    //    var input = document.getElementById("tot-count");
    //    var value = parseInt(input.value);
    //    let total_price = parseFloat(document.getElementById("total-price").innerText.split(' ')[0]);
    //    let bookP = parseFloat(bookPrice.value);
    //    $.ajax({
    //        cache: false,
    //        method: "POST",
    //        data: { "bookId": bookId },
    //        url: "/Book/AddToCart",
    //        success: function (data) {
    //            var data = JSON.parse(data);
    //            if (data.Succeeded) {
    //                input.value = ++value;
    //                totPrice.innerText = total_price + bookP + " TJS";
    //            }
    //            else {
    //                Snackbar.show({
    //                    text: data.Message,
    //                    pos: 'bottom-right',
    //                    actionTextColor: '#fff',
    //                    backgroundColor: '#e7515a'
    //                });
    //            }
    //        }
    //    });
    //};
    //$('.like-btn').on('click', function () {
    //    $(this).toggleClass('is-active');
    //});
</script> 