@model Library_Final_Project.DTOs.Book.CreateBookViewModel

@{       
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div class="container" style="background-color: #fff;">
        <div class="col-md-12">
            <h2 class="text-center pt-5">Форма заполнение книг</h2>
            <form action="Create" method="post" enctype="multipart/form-data">
                <div class="row mt-4">
                    <div class="col-md-6 offset-1">
                        <label asp-for="Title" class="form-label bg-outline-success">Название книги</label>
                        <input type="text" asp-for="Title" class="form-control" placeholder="Название книги" />
                    </div>

                    <div class="col-md-4">
                        <label asp-for="Price" class="form-label">Цена</label>
                        <input type="number" asp-for="Price" class="form-control" placeholder="Цена" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 offset-1">
                        <label asp-for="Title" class="form-label">Код книги</label>
                        <input type="text" class="form-control" asp-for="ISBN" placeholder="ISBN" />
                    </div>
                    <div class="col-md-2 pt-4">
                        <input type="checkbox" asp-for="Available" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Есть в наличие
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Price" class="form-label">Количество</label>
                        <input type="number" class="form-control" asp-for="AvailableCount" placeholder="Количество" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-10 offset-1">
                        <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
                        <textarea asp-for="Description" class="form-control" cols="30" rows="5" placeholder="Описание"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 offset-1">
                        <label class="form-label">Выбрать картинку</label>
                        <input type="file" class="form-file-input" asp-for="Image" />
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Категория</label>
                        <select class="form-select" asp-for="CategoryId">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Key">@category.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 offset-1">
                        <label class="form-label">Электронная версия</label>
                        <input type="file" asp-for="PdfFile" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-2 offset-1">
                        <label class="form-label">Вид доставки</label>
                        <select multiple class="form-select" asp-for="DeliveryTypesId">
                            @foreach (var deliveryType in Model.DeliveryTypes)
                            {
                                <option value="@deliveryType.Key">@deliveryType.Value</option>

                            }
                        </select>
                    </div>
                    <div class="col-md-3 offset-2">
                        <label class="form-label">Тип оплаты</label>
                        <select multiple class="form-select" asp-for="PaymentTypesId">
                            @foreach (var paymentType in Model.PaymentTypes)
                            {
                                <option value="@paymentType.Key">@paymentType.Value</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2 offset-1">
                        <label class="form-label">Авторы</label>
                        <select multiple class="form-select" asp-for="AuthorsId">
                            @foreach (var author in Model.Authors)
                            {
                                <option value="@author.Key">@author.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 offset-5 mb-4" >
                        <div class="input-group mb-3">
                            <input type="submit" class="btn btn-block btn-primary" value="Создать" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
