@model List<Library_Final_Project.DTOs.Book.BookViewModel>
@{
    Layout = "_AdminLayout";
}
<h2 class="text-center mt-4">Список книг</h2>

<div class="row ">
    @foreach (var book in Model)
    {
        <div class="col-md-2 m-4 ">
            <div class="col-md-3">
                <div class="card" style="width: 230px; height: 380px">
                    <div class="image position-relative px-2 px-md-3 pt-2 pb-2">
                        <a href="#">
                            <img src="@book.ImagePath" alt="image" width="300" height="300" class="img-fluid mx-auto d-block">
                        </a>
                    </div>
                    <div class="card-body px-2 px-md-3 pt-2 pb-0">
                        <div class="caption">
                            <h6 class="card-title mb-1" style="text-decoration:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#65bc54" width="12" height="12" viewBox="0 0 24 24" class="inline-svg">
                                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"></path>
                                </svg>
                                @Html.ActionLink(book.Title, "Update", "Book", new { id = book.Id })
                            </h6>
                            <small class="card-author text-muted mb-1 d-block">@book.Author</small>
                        </div>
                    </div>
                    <div class="card-footer px-2 px-md-3 pb-2 pb-md-3 pt-0 bg-white border-0">
                        <div class="price">
                            <div class="h6 mb-1">@book.Price сомони</div>
                        </div>
                        <div class="mt-2">
                            @Html.ActionLink("Удалить", "Delete", "Book", new { id = book.Id }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>